@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html,
  body {
    min-height: 100dvh;
    overflow-x: clip;
  }
  :root {
    @apply font-sans text-base-content;
  }

  button > svg {
    @apply h-6 w-6 text-xl;
  }
  .progress-bar {
    @apply bg-neutral;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded bg-pink-900;
  }
}

@layer utilities {
  .tracksGrid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto auto;
  }
  .cover-shadow {
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  }
  .card:hover,
  .card:focus-visible,
  .card:focus-within {
    @apply bg-base-content bg-opacity-20;
  }
  .card-button:focus-visible,
  .card-button-active {
    @apply -translate-y-full opacity-100 hover:scale-125;
  }
}

@media (min-width: 768px) {
  .tracksGrid {
    grid-template-columns: 3ch repeat(2, minmax(0, 1fr)) repeat(3, 5ch);
  }
}
@keyframes hop {
  0%,
  100% {
    transform: scaleY(50%);
  }
  50% {
    transform: scaleY(120%);
  }
}
