@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply box-border;
  }
  body {
    @apply p-0 m-0 font-sans;
  }
  button {
    @apply rounded-lg p-1 bg-primary-500;
  }
  a {
    @apply text-inherit no-underline;
  }
  #__next {
    @apply flex flex-wrap content-between min-h-screen;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
