@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply box-border;
  }
  body {
    @apply p-0 m-0 font-sans;
  }
  a {
    @apply text-inherit no-underline;
  }
  #__next {
    @apply grid grid-cols-[auto,1fr] grid-rows-[auto,1fr,auto] min-h-screen;
  }

  .button {
    @apply p-2 text-2xl text-primary-100;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
